{
  "log": {
    "_recordingName": "geocode/returns postcode and constituency",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.3.0"
    },
    "entries": [
      {
        "_id": "80813a9415668c9400c55a248e92daed",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "lat",
              "value": "51.6191248"
            },
            {
              "name": "lon",
              "value": "-3.9346662"
            }
          ],
          "url": "http://api.postcodes.io/postcodes?lat=51.6191248&lon=-3.9346662"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 851,
            "text": "{\"status\":200,\"result\":[{\"postcode\":\"SA1 1RP\",\"quality\":1,\"eastings\":266116,\"northings\":192860,\"country\":\"Wales\",\"nhs_ha\":\"Abertawe Bro Morgannwg University Health Board\",\"longitude\":-3.935257,\"latitude\":51.618594,\"european_electoral_region\":\"Wales\",\"primary_care_trust\":\"Abertawe Bro Morgannwg University Health Board\",\"region\":null,\"lsoa\":\"Swansea 025H\",\"msoa\":\"Swansea 025\",\"incode\":\"1RP\",\"outcode\":\"SA1\",\"distance\":71.84740084,\"parliamentary_constituency\":\"Swansea West\",\"admin_district\":\"Swansea\",\"parish\":\"Castle\",\"admin_county\":null,\"admin_ward\":\"Castle\",\"ced\":null,\"ccg\":\"Abertawe Bro Morgannwg University Health Board\",\"nuts\":\"Swansea\",\"codes\":{\"admin_district\":\"W06000011\",\"admin_county\":\"W99999999\",\"admin_ward\":\"W05000961\",\"parish\":\"W04000959\",\"parliamentary_constituency\":\"W07000047\",\"ccg\":\"W11000026\",\"ced\":\"W99999999\",\"nuts\":\"UKL18\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"353-h0YhjYjgyXHSITQ2qDcxMDAQA/g\""
            },
            {
              "name": "x-gnu",
              "value": "Michael J Blanchard"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 109,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
