{
  "log": {
    "_recordingName": "SearchStore/accepts missing postcodes with postcodes.io",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "1.1.4"
    },
    "entries": [
      {
        "_id": "b182f1416a1f7c9faed79cac1de36dcc",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.postcodes.io/postcodes/SW1A%201AB"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 779,
            "text": "{\"status\":200,\"result\":{\"postcode\":\"SW1A 1AB\",\"quality\":1,\"eastings\":530240,\"northings\":180708,\"country\":\"England\",\"nhs_ha\":\"London\",\"longitude\":-0.124637,\"latitude\":51.510298,\"european_electoral_region\":\"London\",\"primary_care_trust\":\"Westminster\",\"region\":\"London\",\"lsoa\":\"Westminster 018A\",\"msoa\":\"Westminster 018\",\"incode\":\"1AB\",\"outcode\":\"SW1A\",\"parliamentary_constituency\":\"Cities of London and Westminster\",\"admin_district\":\"Westminster\",\"parish\":\"Westminster, unparished area\",\"admin_county\":null,\"admin_ward\":\"St James's\",\"ccg\":\"NHS Central London (Westminster)\",\"nuts\":\"Westminster\",\"codes\":{\"admin_district\":\"E09000033\",\"admin_county\":\"E99999999\",\"admin_ward\":\"E05000644\",\"parish\":\"E43000236\",\"parliamentary_constituency\":\"E14000639\",\"ccg\":\"E38000031\",\"nuts\":\"UKI32\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"30b-67YwE5g3xFeqijjqvJh0Y8yI748\""
            },
            {
              "name": "x-gnu",
              "value": "Michael J Blanchard"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 156,
      },
      {
        "_id": "ba01895369b3f371857f91ca7c5ef02c",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.postcodes.io/postcodes/SW1A%201ZZ"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 43,
            "text": "{\"status\":404,\"error\":\"Postcode not found\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2b-60dCBHUxbddknotWwisUCk6O8SA\""
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 136,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
