doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(property='og:url'  content='http://myeu.uk')
    meta(property='og:type'  content='article')
    meta(property='og:description'  content='See what the EU has done in your area')

    title MyEU.UK
  body
    block content
