@import 'custom';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #37474f;
}

h1 {
  font-size: 1.8rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

h2 {
  font-size: 1.4rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}

.navbar-brand img {
  margin-left: 22px;
}

.my-eu-info-window {
  margin-top: 5px;
  font-family: 'Source Sans Pro', sans-serif;

  h2 {
    font-size: 1.4rem;
  }

  p {
    margin-bottom: 0.75rem;
  }
}

.btn-contact {
  border-radius: 18px;
  background-color: white;
  color: #0f73ae;
  border: 2px solid #0f73ae;
  margin-bottom: 5px;
  margin-right: 2px;
}
.btn-contact:hover {
  border-radius: 18px;
  background-color: #0f73ae;
  color: white;
  margin-bottom: 5px;
  margin-right: 2px;
  border: 2px solid #0f73ae;
}
.btn-social {
  border-radius: 50%;
  background-color: white;
  color: #0f73ae;
  border: 2px solid #0f73ae;
  margin-bottom: 5px;
  margin-right: 3px;
}
.btn-social:hover {
  border-radius: 50%;
  background-color: #0f73ae;
  color: white;
  margin-bottom: 5px;
  margin-right: 3px;
  border: 2px solid #0f73ae;
}

.my-eu-sidebar-ad {
  text-align: center;
  margin-top: 3 * $spacer;
  margin-bottom: $spacer;
}

.my-eu-data {
  overflow-y: auto;
}

.my-eu-button-ad .button img {
  max-width: 120px;
}

.my-eu-sidebar-cta {
  margin-top: $spacer;
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }
}

button.my-eu-details-toggle.collapsed:before {
  content: 'Show ';
}

button.my-eu-details-toggle:before {
  content: 'Hide ';
}

#my-eu-bar {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

@include media-breakpoint-up(md) {
  html,
  body {
    height: 100%;
  }

  #my-eu-root {
    min-height: 100%;
    height: 100%;

    #my-eu-app {
      min-height: 100%;
      height: 100%;

      #my-eu-bar {
        overflow-y: auto;
      }

      #my-eu-bar,
      #my-eu-map {
        height: 100%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .my-eu-button-ad {
    display: none;
  }

  #my-eu-map {
    height: 50vh;
    min-height: 300px;
  }
}
