{
  "log": {
    "_recordingName": "SearchStore/looks up postcodes with postcodes.io",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "1.1.4"
    },
    "entries": [
      {
        "_id": "846e71554b72821de45f326d83062f7b",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://api.postcodes.io/postcodes/SW1A%201AA"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 779,
            "text": "{\"status\":200,\"result\":{\"postcode\":\"SW1A 1AA\",\"quality\":1,\"eastings\":529090,\"northings\":179645,\"country\":\"England\",\"nhs_ha\":\"London\",\"longitude\":-0.141588,\"latitude\":51.501009,\"european_electoral_region\":\"London\",\"primary_care_trust\":\"Westminster\",\"region\":\"London\",\"lsoa\":\"Westminster 018C\",\"msoa\":\"Westminster 018\",\"incode\":\"1AA\",\"outcode\":\"SW1A\",\"parliamentary_constituency\":\"Cities of London and Westminster\",\"admin_district\":\"Westminster\",\"parish\":\"Westminster, unparished area\",\"admin_county\":null,\"admin_ward\":\"St James's\",\"ccg\":\"NHS Central London (Westminster)\",\"nuts\":\"Westminster\",\"codes\":{\"admin_district\":\"E09000033\",\"admin_county\":\"E99999999\",\"admin_ward\":\"E05000644\",\"parish\":\"E43000236\",\"parliamentary_constituency\":\"E14000639\",\"ccg\":\"E38000031\",\"nuts\":\"UKI32\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"30b-Cktyb84D+l7t+NYnxgmyt4KvJY0\""
            },
            {
              "name": "x-gnu",
              "value": "Michael J Blanchard"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 150,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
