<!DOCTYPE html>
<html lang="en">
<head>
  <title>My.Eu</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <link rel="icon"
        type="image/png"
        href="images/eusmall.png" />

  <style>


/* tell the container's children to float left: */
.float-my-children > * {
    float:left;
    margin-right:5px;
}

.twitter {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 10px 5px;
}

.twitter p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
}

.twitter a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

.twitter a:hover,
.twitter a:focus {
  text-decoration: underline;
}
.footnote{
  font-size:xx-small;

}
body {
  padding:10px;
}
.card{
  max-width:400px;}


}
  </style>
<meta property="og:url" content="http://www.google.com" />
<meta property="og:type" content="website" />
<meta property="og:title" content="MyEU: See what the EU has done for your local area" />
<meta property="og:description" content="Discover what has been EU funded in your local area." />




</head>
<body>



      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
          <a class="navbar-brand" href="/"> <img src="../static/img/eusmall.png" /> My.EU</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">See what the EU has done for you<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
            </ul>
          </div>
        </nav>
<p />

<h1>About MyEU</h1>

<p>
We were really interested in the impacts the EU had in our local community. Looking at the data we were amazed, and we wanted to let people know the impact the EU had on their community.
</p>

<h2>Data and Methodology</h2>

<p>
The map uses a dataset from the Ministry of Housing, Communities and Local Government, showing <a href="https://www.gov.uk/government/publications/european-structural-and-investment-funds-useful-resources">European Strucutral and Investment Funds (ESIF) 2014-2020</a>. ESIF includes money from the European Social Fund (ESF), European Regional Development Fund (ERDF) and European Agricultural Fund for Rural Development (EAFRD).

</p>

<h2>What action can I take?</h2>

<p>
If you're interested in taking action off the back of this dataset, one thing you can do is email your MP to tell them your feelings. Emailing your MP can really help. Have a look at <a href="https://www.writetothem.com/">Write to them</a> for your MP's details.
</p>













        <div class="social-share">
          Share with your friends:
          <a class="btn btn-primary"
      href="https://twitter.com/share"
      data-size="large"
      data-text="See the investments the EU have made in your area"
      data-url="http://myeu.uk"
    >
    Tweet
    </a>


    <div id="shareBtn" class="btn btn-primary">Share on Facebook</div>


    <script>
    document.getElementById('shareBtn').onclick = function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: 'http://myeu.uk',
      }, function(response){});
    }
    </script>
        <div class="footnote fixed-bottom my-2 ml-3">GreatBritishHack-Off by Tech4UK and Best for Britain<br>Icons made by <a href="https://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
      </div>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

            <script>
                $( "#postsub" ).click(function() {
                    console.log("yup");
                    $('h3').remove();
                    $('#emailHelp').remove();
                    $('#postsub').remove();
                    $.get( "https://api.postcodes.io/postcodes/E161BD", function( data ) {
                        console.log(data);
                        $('.card').css("visibility", "visible");
                    });
                });
            </script>
    </body>
    </html>
